{
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    // "parser": "babel-eslint",
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "double"],
        "no-delete-var": "error",
        "no-unused-vars": "warn",
        "no-new-require": "warn",
        "no-lonely-if": "error",
        "no-var": "error"
    }
}